// 命名空间
$namespace: mobile-html;
// 字体类型
$fontFamily: 'Microsoft Yahei',
Tahoma,
Helvetica,
Arial,
sans-serif;
// 字体大小
$fontSize: 12px;
// 字体颜色
$fontColor: #999 !default;
// 主题颜色
$colorWhite: #fff !default;
$colorOragle: #FF5241 !default;
// 链接颜色
$linkColor: #999 #ff5241 !default;
// 字体行高
$lineHeight: 1.5 !default;
// 粗体
$fontBold: 700 !default;
// 背景颜色
$bgWhite: #fff !default;
$bgGray: #eee !default;
$bgOragle: #FF5241 !default;
// 边框颜色
$borderWhite: #fff !default;
$borderGray: #ddd !default;
$borderOragle: #FF5241 !default;
// 表单相关
$formBorder: #BBBBBB;
$formHeight: 22px;
$formIconColor:#FF5241;
